input{
    margin-left: 100px;
}

#time{
    margin-left: 110px;
}

#percent{
    margin-left: 113px;
}

form{
    margin: 0 auto;
    width: 500px;
    height: 320px;
    background-color: #98FB98;
    border-radius: 5px;
}

h1{
    color: red;
    text-align: center;
    padding-top: 20px;
}

label{
    margin-left: 20px;
}

#button{
    margin-top: 15px;
    margin-left: 216px;
}